.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
  background-color: white;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:focus {
  background-color: white;
}
.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input:focus {
  background-color: white;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input:focus {
  background-color: white;
}

.REIDIButton {
  all: unset;
  display: flex;
  justify-content: center;
}

.MuiAlert-message {
  all: unset;
}

.MuiSnackbar-root {
  all: unset;
}

.MuiSnackbarContent-root {
  all: reverse;
}

.MuiSnackbarContent-message {
  all: reverse;
}

.MuiCircularProgress-colorPrimary {
  all: unset;
  color: blue;
}

.MuiCircularProgress-root {
  all: reverse;
}
